<div class="sidebar">
	<%= link_to (image_tag "icons/rss.png", class: "first-icon"), "#", title: "Blog RSS" %>
	<%= link_to (image_tag "icons/twitter.png"), "#", title: "Follow me on twitter" %>
	<%= link_to (image_tag "icons/github.png"), "https://github.com/ronildo/blog-in-rails", title: "See this blog code on github" %>
	<hr />
</div>