/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


body {
	background-color: #EFEFEF;
	padding: 60px 0 0 0;
	font-family: "Helvetica Neue",Helvetica,Arial,Sans-Serif;
	font-size: 14px;
	line-height: 1.5;
}

.sidebar-nav {
  padding: 9px 0;
}

.left{float: left}
.right{float: right}
.center{text-align: center}

.open .big-drop{
	width: 286px;
	form{
		fieldset{
			margin: 20px;
		}
	}
	a.right{
		margin-top: 4px;
		padding: 0;
	}
	a.btn{
		color: #FFF;
	}
}

.container{
	p{
		color: #666;
	}
	h1{
		margin-bottom: 10px;
	}
	.white-box{
		background-color: #FFF;
		box-shadow: 0 0 5px #CCC;
		margin: 0 0 20px 0;
		padding: 20px 30px;
		text-align: justify;
		&:hover{
			box-shadow: 0 0 5px #DDD;
		}
	}
	textarea{
		width: 98%;
		height: 100px;
	}
}

/** Comments **/
.each-comment{
	h2{
		margin-bottom: 10px;
	}
	p.name{margin: 0}
}


/** Sidebar **/
.sidebar{
	img{
		margin-left: 11px;
		&.first-icon{
			margin: 0;
		}
	}
}
